# Crear Target

## Ejercicio 1:
Cree el archivo `competencia_01.csv`, usando el `competencia_01_crudo.csv` con una variable adicional llamada `clase_ternaria`, que contenga las categorías **CONTINUA**, **BAJA+1** y **BAJA+2** 

### Ayudita 

Para practicar el muy útil y necesario lenguaje **SQL**, vamos a utilizar una base de datos **OLAP** llamada **DuckDB**. 

La documentación la puede encontrar [aquí](https://duckdb.org/docs/archive/0.8.1/sql/introduction)
Procedemos a instalarla, esto se debe ejecutar una sola vez

In [1]:
%%cmd 
pip install duckdb
pip install jupysql
pip install duckdb-engine

Microsoft Windows [Version 10.0.22621.1992]
(c) Microsoft Corporation. All rights reserved.

c:\Users\Administrator\Documents\MaestriaDataMining\dmeyf2023\dmeyf2023\src\monday>pip install duckdb

Collecting duckdb
  Obtaining dependency information for duckdb from https://files.pythonhosted.org/packages/ee/af/e3fdfa4776124e797d8303f85f3bd97e17f7a1aa1a90189b545369d267d1/duckdb-0.8.1-cp311-cp311-win_amd64.whl.metadata
  Downloading duckdb-0.8.1-cp311-cp311-win_amd64.whl.metadata (774 bytes)
Downloading duckdb-0.8.1-cp311-cp311-win_amd64.whl (9.8 MB)
   ---------------------------------------- 9.8/9.8 MB 9.4 MB/s eta 0:00:0017
Installing collected packages: duckdb
Successfully installed duckdb-0.8.1

c:\Users\Administrator\Documents\MaestriaDataMining\dmeyf2023\dmeyf2023\src\monday>pip install jupysql
Collecting jupysql
  Obtaining dependency information for jupysql from https://files.pythonhosted.org/packages/4e/6e/9ee71876e8ec2ab04946d7a8d0ea55ede56aa40075f586bf35bc404f4629/jupysql-0.10.1-py3-none-any.whl.metadata
  Downloading jupysql-0.10.1-py3-none-any.whl.metadata (5.6 kB)
Collecting prettytable (from jupysql)
  Obtaining dependency information for prettytable from https://files.pythonhosted.org/packages/25/1e/4c284713b092ec384fad4399452f43f6446ad9aabc9c0b3c3c0920cc53b6/prettytable-3.8.0-py3-none-any.whl.metadata
  Downloading prettytable-3.8.0-py3-none-any.whl.metadata (26 kB)
Requirement already satisfied: ipython in c:\users\administrator\appdata\roaming\python\python311\site-packages (from jupysql) (8.15.0)
Collecting sqlalchemy (from jupysql)
  Obtaining dependency information for sqlalchemy from https://files.pythonhosted.org/packages/10/81/230bec5713913a472003b71c8dd7e3572de44499e741df576fd6b39d82c8/SQLAlchemy-2.0.20-cp311-cp311-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.20-cp311-cp311-win_amd64.whl.metadata (9.7 kB)
Collecting sqlparse (from jupysql)
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ---------------------------------------- 41.2/41.2 kB 1.9 MB/s eta 0:00:00
Collecting ipython-genutils>=0.1.0 (from jupysql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Collecting sqlglot (from jupysql)
  Obtaining dependency information for sqlglot from https://files.pythonhosted.org/packages/fe/1f/884ca85be75ce2139080c8f9d8e1464f0ca67081c43167df9955abc3461f/sqlglot-18.1.0-py3-none-any.whl.metadata
  Downloading sqlglot-18.1.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: jinja2 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from jupysql) (3.1.2)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Obtaining dependency information for ploomber-core>=0.2.7 from https://files.pythonhosted.org/packages/12/3b/6c0b6e07ddfa759f925a030353ba98f1f23ab45ea04a0c4b8888e2ef93b6/ploomber_core-0.2.14-py3-none-any.whl.metadata
  Downloading ploomber_core-0.2.14-py3-none-any.whl.metadata (498 bytes)
Collecting click (from ploomber-core>=0.2.7->jupysql)
  Obtaining dependency information for click from https://files.pythonhosted.org/packages/00/2e/d53fa4befbf2cfa713304affc7ca780ce4fc1fd8710527771b58311a3229/click-8.1.7-py3-none-any.whl.metadata
  Downloading click-8.1.7-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: pyyaml in c:\users\administrator\appdata\roaming\python\python311\site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.1)
Collecting posthog (from ploomber-core>=0.2.7->jupysql)
  Obtaining dependency information for posthog from https://files.pythonhosted.org/packages/a7/73/35758818228c70348be4c3c66a76653c62e894e0e3c3461453c5341ca926/posthog-3.0.2-py2.py3-none-any.whl.metadata
  Downloading posthog-3.0.2-py2.py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: backcall in c:\users\administrator\appdata\roaming\python\python311\site-packages (from ipython->jupysql) (0.2.0)
Requirement already satisfied: decorator in c:\users\administrator\appdata\roaming\python\python311\site-packages (from ipython->jupysql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from ipython->jupysql) (0.19.0)
Requirement already satisfied: matplotlib-inline in c:\users\administrator\appdata\roaming\python\python311\site-packages (from ipython->jupysql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\administrator\appdata\roaming\python\python311\site-packages (from ipython->jupysql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from ipython->jupysql) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from ipython->jupysql) (2.16.1)
Requirement already satisfied: stack-data in c:\users\administrator\appdata\roaming\python\python311\site-packages (from ipython->jupysql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from ipython->jupysql) (5.9.0)
Requirement already satisfied: colorama in c:\users\administrator\appdata\roaming\python\python311\site-packages (from ipython->jupysql) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from jinja2->jupysql) (2.1.3)
Requirement already satisfied: wcwidth in c:\users\administrator\appdata\roaming\python\python311\site-packages (from prettytable->jupysql) (0.2.6)
Collecting typing-extensions>=4.2.0 (from sqlalchemy->jupysql)
  Obtaining dependency information for typing-extensions>=4.2.0 from https://files.pythonhosted.org/packages/ec/6b/63cc3df74987c36fe26157ee12e09e8f9db4de771e0f3404263117e75b95/typing_extensions-4.7.1-py3-none-any.whl.metadata
  Downloading typing_extensions-4.7.1-py3-none-any.whl.metadata (3.1 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy->jupysql)
  Downloading greenlet-2.0.2-cp311-cp311-win_amd64.whl (192 kB)
     ------------------------------------- 192.5/192.5 kB 11.4 MB/s eta 0:00:00
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from jedi>=0.16->ipython->jupysql) (0.8.3)
Requirement already satisfied: requests<3.0,>=2.7 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.31.0)
Requirement already satisfied: six>=1.5 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Requirement already satisfied: python-dateutil>2.1 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: executing>=1.2.0 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from stack-data->ipython->jupysql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from stack-data->ipython->jupysql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\administrator\appdata\roaming\python\python311\site-packages (from stack-data->ipython->jupysql) (0.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2023.7.22)
Downloading jupysql-0.10.1-py3-none-any.whl (86 kB)
   ---------------------------------------- 86.6/86.6 kB 5.1 MB/s eta 0:00:00
Downloading ploomber_core-0.2.14-py3-none-any.whl (21 kB)
Downloading sqlglot-18.1.0-py3-none-any.whl (299 kB)
   --------------------------------------- 299.6/299.6 kB 18.1 MB/s eta 0:00:00
Downloading prettytable-3.8.0-py3-none-any.whl (27 kB)
Downloading SQLAlchemy-2.0.20-cp311-cp311-win_amd64.whl (2.0 MB)
   ---------------------------------------- 2.0/2.0 MB 32.9 MB/s eta 0:00:00
Downloading typing_extensions-4.7.1-py3-none-any.whl (33 kB)
Downloading click-8.1.7-py3-none-any.whl (97 kB)
   ---------------------------------------- 97.9/97.9 kB 5.8 MB/s eta 0:00:00
Downloading posthog-3.0.2-py2.py3-none-any.whl (37 kB)
Installing collected packages: sqlglot, monotonic, ipython-genutils, typing-extensions, sqlparse, prettytable, greenlet, click, backoff, sqlalchemy, posthog, ploomber-core, jupysql
Successfully installed backoff-2.2.1 click-8.1.7 greenlet-2.0.2 ipython-genutils-0.2.0 jupysql-0.10.1 monotonic-1.6 ploomber-core-0.2.14 posthog-3.0.2 prettytable-3.8.0 sqlalchemy-2.0.20 sqlglot-18.1.0 sqlparse-0.4.4 typing-extensions-4.7.1

c:\Users\Administrator\Documents\MaestriaDataMining\dmeyf2023\dmeyf2023\src\monday>pip install duckdb-engine
Collecting duckdb-engine
  Obtaining dependency information for duckdb-engine from https://files.pythonhosted.org/packages/f3/6c/17298ff413db694b87ce0e3eea1685ffe47987fb64e46cd6b673bac53177/duckdb_engine-0.9.2-py3-none-any.whl.metadata
  Downloading duckdb_engine-0.9.2-py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: duckdb>=0.4.0 in c:\users\administrator\appdata\local\programs\python\python311\lib\site-packages (from duckdb-engine) (0.8.1)
Requirement already satisfied: sqlalchemy>=1.3.22 in c:\users\administrator\appdata\local\programs\python\python311\lib\site-packages (from duckdb-engine) (2.0.20)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\administrator\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\administrator\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (2.0.2)
Downloading duckdb_engine-0.9.2-py3-none-any.whl (43 kB)
   ---------------------------------------- 43.1/43.1 kB 298.8 kB/s eta 0:00:00
Installing collected packages: duckdb-engine
Successfully installed duckdb-engine-0.9.2

c:\Users\Administrator\Documents\MaestriaDataMining\dmeyf2023\dmeyf2023\src\monday>

Configuramos el entorno de ejecución. Si ya tiene todo instalado, solo necesita ejecutar esta celda para empezar a usar **duckdb**

In [2]:
%%cmd
--pip install pandas

Microsoft Windows [Version 10.0.22621.1992]
(c) Microsoft Corporation. All rights reserved.

c:\Users\Administrator\Documents\MaestriaDataMining\dmeyf2023\dmeyf2023\src\monday>pip install pandas
Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/b7/f8/32d6b5aa4c4bc045fa2c4c58f88c325facc54721956c6313f0afea8ea853/pandas-2.1.0-cp311-cp311-win_amd64.whl.metadata
  Downloading pandas-2.1.0-cp311-cp311-win_amd64.whl.metadata (18 kB)
Collecting numpy>=1.23.2 (from pandas)
  Obtaining dependency information for numpy>=1.23.2 from https://files.pythonhosted.org/packages/72/b2/02770e60c4e2f7e158d923ab0dea4e9f146a2dbf267fec6d8dc61d475689/numpy-1.25.2-cp311-cp311-win_amd64.whl.metadata
  Downloading numpy-1.25.2-cp311-cp311-win_amd64.whl.metadata (5.7 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     -------------------------------------- 502.3/502.3 kB 7.8 MB/s eta 0:00:00
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ------------------------------------- 341.8/341.8 kB 22.1 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.0-cp311-cp311-win_amd64.whl (11.0 MB)
   ---------------------------------------- 11.0/11.0 MB 31.2 MB/s eta 0:00:00
Downloading numpy-1.25.2-cp311-cp311-win_amd64.whl (15.5 MB)
   ---------------------------------------- 15.5/15.5 MB 28.5 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.25.2 pandas-2.1.0 pytz-2023.3 tzdata-2023.3

c:\Users\Administrator\Documents\MaestriaDataMining\dmeyf2023\dmeyf2023\src\monday>

In [1]:
import duckdb
import pandas as pd

%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:///:default:

Y ya podemos usar **SQL** dentro de una notebook!

In [2]:
%%sql
select 'hola mundo'

  'hola mundo'
0   hola mundo

Para cargar el archivo `.csv` a una tabla:

In [3]:
%%sql
create or replace table competencia_01 as 
select 
    *
from read_csv_auto('C:\Users\Administrator\Documents\MaestriaDataMining\dmeyf2023\datasets\competencia_01_crudo.csv')

Empty DataFrame
Columns: [Success]
Index: []

Hagamos unas queries básicas para comprobar que todo esta funcionando bien.

In [6]:
%sql select * from competencia_01 limit 5

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_madelantodolares,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo
0,29183981,202103,1,0,0,50,197,14468.81,125765.29,2389.82,...,0.0,7,0.00,-114954.00,0.00,5938,101050.66,68,0,71811.06
1,29184630,202103,1,0,0,59,322,11901.57,74158.93,18750.68,...,0.0,1,0.00,-40330.15,17.59,4089,26834.09,7,0,3894.36
2,29185433,202103,1,0,0,68,268,847.15,21672.47,481.62,...,0.0,21,4692.00,-1173.00,0.00,7829,1651.36,3,0,1560.09
3,29185587,202103,1,0,0,79,322,4976.94,47735.98,1839.31,...,0.0,1,0.00,-15988.67,0.00,7580,30025.29,11,0,1700.85
4,29185646,202103,1,0,0,60,257,2860.45,37800.71,4035.40,...,0.0,21,380616.14,-97383.25,0.00,7827,359610.70,31,0,15600.90

In [7]:
%%sql
select 
    foto_mes
    , count(*) as cantidad -- cuenta cuantos casos hay en cada foto_mes 
                           -- y lo guarda en un campo llamado cantidad
from competencia_01
group by foto_mes

   foto_mes  cantidad
0    202103    163324
1    202104    163637
2    202105    164102

Perfecto, ahora cree una nueva tabla con la variable adicional que se le pide. Algunas funciones que le pueden ser útiles:  [where](https://duckdb.org/docs/sql/query_syntax/where), [left join](https://duckdb.org/docs/sql/query_syntax/from), [case statement](https://duckdb.org/docs/sql/expressions/case)

In [4]:
%%sql
create or replace table competencia_01_m as 

select t0.*, 
case
    WHEN (t0.foto_mes != 202103) THEN NULL 
    WHEN (t1.foto_mes is NULL) THEN 'BAJA+1'
    WHEN (t2.foto_mes is NULL) THEN 'BAJA+2'
    ELSE 'CONTINUA'
END as clase_ternaria
from competencia_01 t0
LEFT JOIN competencia_01 t1
ON (t0.numero_de_cliente = t1.numero_de_cliente)
AND (t0.foto_mes + 1 = t1.foto_mes)
LEFT JOIN competencia_01 t2
ON (t0.numero_de_cliente = t2.numero_de_cliente)
AND (t0.foto_mes + 2 = t2.foto_mes)

Empty DataFrame
Columns: [Success]
Index: []

## Ejercicio 1.1

* ¿Cuál es la nominalidad de cada clase?
* ¿Cuál es la proporción del target?

In [ ]:
%%sql
-- introduzca sus queries

Para guardar a un **.csv** simplemente debe ejecutar la siguiente sentencia

In [5]:
%%sql
COPY competencia_01 TO 'C:\Users\Administrator\Documents\MaestriaDataMining\dmeyf2023\datasets\competencia_01.csv' (FORMAT CSV, HEADER)

Empty DataFrame
Columns: [Success]
Index: []

## Ejercicio 2 - Avanzado
Use ahora el archivo `ejercicio_target.csv` y calcule para todos los clientes en todos los periodos su **clase_ternaria** al mismo tiempo